<h1 class="text-center m-4 mb-5">Voici les details de cette evenement!</h1>
<div class="text-center m-5">
    <h2><%= @event.title %></h2>
    <p>description de l'evenement: <%= @event.description %></p>
    <p>cette event aura lieux le: <%= @event.start_date %></p>
    <p>la date de fin de cette event: <%= @event.start_date + @event.duration * 60 %></p>
    <p>cette event aura lieux dans cette ville: <%= @event.location %></p>
    <p>Participer a cette event coute : <%= @event.price %>euro!</p>
    <p>event cree par: <%= User.find(@event.admin_id).email %></p>

    <%= form_tag charges_path do %>
        <article>
            <% if flash[:error].present? %>
            <div id="error_explanation">
                <p><%= flash[:error] %></p>
            </div>
            <% end %>
            <label class="amount">
            <span>Pour rejoindre l'événement, merci de payer l'inscription :<br><span><%= @event.price %></span></span>
            </label>
        </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="INSCRIPTION EVENT"
                data-amount=<%= @event.price * 100 %>
                data-currency="eu"
                data-locale="auto"></script>
        <% end %>
     <div>
    
</div>