<h1 class="text-center m-4 mb-5">Voici les details de cette evenement!</h1>
<div class="text-center m-5">
    <h2><%= @event.title %></h2>
    <p>description de l'evenement: <%= @event.description %></p>
    <p>cette event aura lieux le: <%= @event.start_date %></p>
    <p>la date de fin de cette event: <%= @event.start_date + @event.duration * 60 %></p>
    <p>cette event aura lieux dans cette ville: <%= @event.location %></p>
    <p>Participer a cette event coute : <%= @event.price %>euro!</p>
    <p>event cree par: <%= User.find(@event.admin_id).email %></p>
    <% if user_signed_in? && current_user.id != @event.admin_id %>
        <% if !(Attendance.where(event_id: @event.id, user_id: current_user.id).exists?) %>
            <%= form_tag event_attendances_path(@event.id) do %>
                <article>
                    <% if flash[:error].present? %>
                    <div id="error_explanation">
                        <p><%= flash[:error] %></p>
                    </div>
                    <% end %>
                    <label class="amount">
                    <span>Pour rejoindre l'événement, merci de payer l'inscription :<br><span><%= @event.price %></span></span>
                    </label>
                </article>

                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                        data-description="INSCRIPTION EVENT"
                        data-amount="<%= @event.price * 100 %>"
                        data-currency="eur"
                        data-locale="auto">
                </script>
            <% end %>
<<<<<<< HEAD
            <label class="amount">
            <span>Pour rejoindre l'événement, merci de payer l'inscription :<br><span><%= @event.price %></span></span>
            </label>
        </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="INSCRIPTION EVENT"
                data-amount=<%= @event.price * 100 %>
                data-currency="eur"
                data-locale="auto"></script>
=======
>>>>>>> 2669eb9c0338ea6ac4c4b9137e3e60b496b956cb
        <% end %>
    <% elsif current_user.id == @event.admin_id %>
        <a href="<%= event_attendance_path(@event.id) %>">mon espace événement</a>
    <% end %>
</div>